<div class="row">
    <form class="col s12" id="add-group">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" type="text">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="content"></textarea>
                    <label for="content">Content</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="gamer_tag" type="text">
                <label for="gamer_tag">Gamer Tag</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="game_name" type="text">
                <label for="game_name">Game Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="time_from" type="text">
                <label for="time_from">Session Time From</label>
            </div>
            <div class="input-field col s6">
                <input id="time_to" type="text">
                <label for="time_to">Session Time To</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="current_players" type="text">
                <label for="current_players">Current Players</label>
            </div>
            <div class="input-field col s6">
                <input id="max_players" type="text">
                <label for="max_players">Max Group Players</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>

<script src="../js/addGroup.js"></script>