<div class="title-screen">
    <h2 href="#" class="brand-logo">Gamer Groups</h2>
    <h5>Please login to view current groups or to create your own!</h5>
    <a href="/login" class="login">login >></a>
</div>