<div class="container">
  <h3 class="past-groups">Edit Form</h3>
</div>

{{> groupForm buttonText='Save'}}

<div class="container delete-container">
  <div class="col m2">
    <button class="btn btn-sm btn-danger" id="delete-btn" data-id="{{post.id}}">DELETE</button>
  </div>
</div>
<script src="../js/editGroup.js"></script>
<script src="../js/deleteGroup.js"></script>