<div class="container">
    <h3>Past Groups</h3>

    <div>
        <button class="btn btn-sm"><a href="/create">Add a New Group</a></button>
    </div>
</div>


<div class="container indigo darken-3 white-text">
    <div class="row">
        <div class="col s6">Content</div>
        <div class="col s2 right">Difficulty</div>
        <div class="col s2 right">Current / Max Players</div>
        <div class="col s2 right">Game Name</div>
    </div>
</div>


{{#each groupList }}

    {{> group prefix='/edit-group/'}}

{{/each}}